@model  Models.ViewModels.StudentVM

<form asp-action="Edit" asp-controller="Students" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <h1>Register Student</h1>
        <div class="col-6">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Id" class="form-control" type="hidden"/>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RollNo" class="control-label"></label>
                <input asp-for="RollNo" class="form-control" />
                <span asp-validation-for="RollNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" type="datetime-local"/>
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Courses" class="control-label"></label>
                <textarea asp-for="Courses" class="form-control" disabled></textarea>
                <span asp-validation-for="Courses" class="text-danger"></span>
            </div>


        </div>

        <div class="col-6">
            <h1>Choose Courses</h1>
            <table class="table border-1">
                @foreach (var item in Model.CourseList)
                {
                    <tr>
                        <td><input id="@item.Id" type="checkbox" name="courseList" value="@item.Id" checked="@item.IsTaken" /></td>
                        <td><label for="@item.Id">@item.Name</label></td>
                    </tr>
                }
            </table>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-success" />
    </div>

</form>

